div {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}
.gradient {
    background-color: blue;
    /* 왼쪽 위에서 오른쪽 아래 방향으로 파랑에서 흰색으로 */
    background: linear-gradient(to right bottom, blue, #fff);
}
.gradient-1 {
    background: linear-gradient( -100deg, red, #fff  );
}
.gradient-2{
    background: linear-gradient( 45deg, blue ,#fff 35%, red);
}